{% set page = 0 %}
{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="styles/devices/style.css">
    <link rel="stylesheet" href="styles/devices/device.css">
    <link rel="stylesheet" href="styles/devices/responsive.css">

    <link rel="stylesheet" href="styles/create-device/style.css">
    <link rel="stylesheet" href="styles/create-device/responsive.css">
{% endblock styles %}

{% block content %}
    <div class="devices-container">
        <button class="add-btn" href="#">
            <img src="assets/icons/addbox.svg" alt="add Device" class="add-icon">
            <span> Adicionar dispositivo </span>
        </button>
        <ul class="devices-list">
        {% for device in devices %}
            <li class="device">
                <div class="device-header">
                    <strong># {{device.name}}</strong>
                    <button class="delete-btn">
                        <img class="remove-btn" src="assets/icons/delete.svg" alt="Remover dispositivo">
                    </button>
                </div>
                <div class="device-body">
                    <div>
                        <strong>ID</strong>
                        <p>{{device.id}}</p>
                    </div>
                    <div>
                        <strong>PIN</strong>
                        <p>{{device.pin}}</p>
                    </div>
                </div>
                {% if device.value == 0 %}
                    <button class="switch-btn btn-off">
                        Desligado
                    </button>
                {% else %}
                    <button class="switch-btn btn-on">
                        Ligado
                    </button>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}

{% block modal %}
    <div class="form-container hidden">
        <div class="form-header">
            <h1>Adicionar dispositivo</h1>
            <img class="close-btn" src="assets/icons/close.svg" alt="Voltar para dispositivos">
        </div>
        <form>
            <label for="name">Nome do dispositivo</label>
            <input name="name" type="text" placeholder="Nome do dispositivo" required>

            <label for="type">Tipo do dispositivo</label>
            <select name="type" required>
                <option value="boolean">Boolean</option>
                <option value="continuous">Continuous</option>
            </select>

            <label for="pin">Pino (Pin)</label>
            <input name="pin" type="number" min="5" max="9" placeholder="Pino" required/>

            <button type="submit">Criar dispositivo</button>
        </form>
    </div>
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/devices.js"></script>

{% endblock scripts %}