<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="styles/page-header/style.css">
    <link rel="stylesheet" href="/styles/page-header/responsive.css">

    {% block styles %}
    {% endblock styles %}
    <title>Arduino Home Devices</title>
</head>
<body>
    {% include "page-header.html" %}
    
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    {% block modal %}
    {% endblock modal %}
    <script src="/scripts/pageHandler.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="/scripts/app.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>