<header class="home-container">
    <div id="main-header">
        <img class="logo" src="assets/icons/groupwork.svg" alt="logo">
        <h1 class="title">Bem vindo</h1>
    </div>
    <nav>
        <a href="/" class="navbar-btn">
                <img class="navbar-icons" src="assets/icons/devices.svg" alt="devices"> Dispositivos
            </a>
                    
            <a href="/sensors" class="navbar-btn">
                <img class="navbar-icons" src="assets/icons/devices.svg" alt="sensors"> Sensores
            </a>

            <a href="#" class="navbar-btn">
                <img class="navbar-icons" src="assets/icons/devices.svg" alt="devices"> Configurações
            </a>
    </nav>
</header>